<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="tesseract" value="C:\Users\Roger\Documents\GitHub\Bildanalyse\SourceCode\Translator\Bildtranslator\Bildtranslator\Tesseract-OCR\tesseract.exe" />
    <add key="output" value="C:\Users\Roger\Documents\GitHub\Bildanalyse\SourceCode\Translator\Output\" />
    <add key ="input" value="C:\Users\Roger\Documents\GitHub\Bildanalyse\SourceCode\Translator\Image\"/>
  </appSettings>
</configuration>